.flavor-img {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    mask-image: linear-gradient(180deg, #000 40%, transparent);
}

.title-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 6em;
    width: 100%;
    z-index: 100;

    font-size: 50px;
    font-weight: 800;
}

.title-text2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 7em;
    width: 100%;
    z-index: 100;

    font-size: 50px;
    font-weight: 400;
}

.title-subtext {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;

    top: 26rem;
    width: 100%;
    height: 30px;
    z-index: 100;
    max-width: 100%;

    font-size: min(7vw, 30px);
    font-weight: 400;
}